body{
    margin: 0;
    text-align: center;
    zoom: 90%;
}
h1{
    font-size: 90px;
    margin: 0; 
    padding-top: 150px;
    font-family: 'Sacramento', cursive;
    color: #257da7;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #d623a3;
    font-weight: normal;
}
h3{
    font-size: 2rem;
    color: #8f4fbc;
}
p{
    font-family: sans-serif;
    display: inline-block;
    font-size: 20px;
    color: #11999E;
    width: 50%;
    margin-top: 0;
    margin-bottom: 100px;
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #902c15;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}
hr{
    margin: 0;
}
.topContainer{
    background-color: #EFFFFD;
}
.hello{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 270px;
    top: 20px;
}
.profilePic{
    height: 180px;
    width: 180px;
    border-radius: 100%;
}
.mainImg{
    width: 512px;
    height: 512px;
    position: relative;
    left: 30px;
}
.bottomContainer{
    text-align: center;
    padding-top: 50px;
    background-color: #EFFFFD;
}
.owner{
    text-align: center;
    padding-top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px ;
    text-align: left;
    line-height: 2;
}
.profile{
    padding: 80px;
}
.getInTouchPara{
    width: 40%;
    margin-bottom: 35px;
    line-height: 2;
}
.contact-me{
    padding: 50px;
    padding-bottom: 82px;
}
.desktopismycanvas{
    width: 250px;
    height: 250px;
    float: left;
    padding-right: 70px;
    position: relative;
    top: 50px;
}
.basketball{
    float: right;
    position: relative;
    right: 35px;
    top: 25px;
}
.music{
    width: 240px;
    height: 240px;
    float: left;
    position: relative;
    top: 50px;
    right: 70px;
}
.lkouniv{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}
.footer-img{
    width: 50px;
    height: 50px;
}
