body{
    margin: 0;
    text-align: center;
    zoom: 100%;
}
h1{
    font-size: 90px;
    margin: 0; 
    padding-top: 150px;
    font-family: 'Sacramento', cursive;
    color: #2F8F9D;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #2F8F9D;
    font-weight: normal;
}
h3{
    font-size: 2rem;
    color: #11999E;
}
p{
    font-family: sans-serif;
    display: inline-block;
    font-size: 20px;
    color: #11999E;
    width: 50%;
    margin-top: 0;
    margin-bottom: 100px;
}
hr{
    margin: 0;
}
.topCloud{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 18%;
    top: 150px;
}
.bottomCloud{
    width: 150px;
    height: 150px;
    left: 20%;
    position: absolute;
}
.topContainer{
    background-color: #EFFFFD;
}
.profilePic{
    height: 200px;
    width: 180px;
    border-radius: 100%;
}
.croc{
    height: 400px;
    width: 400px;
    padding-top: 50px;
}
.mainImg{
    width: 512px;
    height: 512px;
}
.bottomContainer{
    text-align: center;
    padding-top: 50px;
    background-color: #EFFFFD;
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #DF7861;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}
.owner{
    text-align: center;
    padding-top: 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px ;
    text-align: left;
    line-height: 2;
}
.profile{
    padding: 80px;
}
.getInTouchPara{
    margin-bottom: 35px;
}
.contact-me{
    padding: 50px;
    padding-bottom: 82px;
}
.coding{
    float: left;
    padding-right: 100px;
    position: relative;
    top: 50px;
}
.basketball{
    float: right;
    position: relative;
    right: 35px;
    top: 25px;
}
.chicken{
    float: left;
    position: relative;
    top: 50px;
    right: 70px;
}
.lkouniv{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}
